<link rel="stylesheet" href="../styling/breadcrumb.css">
<link rel="stylesheet" href="../styling/slideshow.css">
<link rel="stylesheet" href="../styling/employer.css">
<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

<!-- Breadcrumb -->
<nav class="navbar navbar-light bg-light path"> 
    <div class="container-fluid">
        <span class="navbar-text">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../routes/index.php">Αρχική Σελίδα</a></li>
                    <li class="breadcrumb-item"><a href="../routes/working.php">Εργασιακά</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Είμαι Εργαζόμενος</li>
                </ol>
            </nav>
        </span>
    </div>
</nav>

<section class="blue">
    <div class="d-md-flex h-md-100 align-items-center">

        <!-- First Half -->
        
        <div class="col-md-6 p-0 bg-cyan h-md-100">
            <div class="text-black h-100 p-5 text-center justify-content-center">
                <h2><u>Συχνές Ερωτήσεις  <i class="fas fa-info-circle"></i></u></h2>
                <br><br>
                <p class="fs-4"><b class="fs-2 num-left">1.</b> Πώς μπορώ να κάνω αίτηση για <b>εργασία εξ αποστάσεως </b><a class="fs-4" href="#"> Δείτε εδώ</a></p>
                <br><br>
                <p class="fs-4"><b class="fs-2 num-left">2.</b> Πώς μπορώ να κάνω <b>αναστολή σύμβασης εργασίας</b> <a class="fs-4" href="#"> Δείτε εδώ</a></p>
                <br><br>
                <p class="fs-4"><b class="fs-2 num-left">3.</b> Πώς μπορώ να κάνω αίτηση για <b>άδεια ειδικού σκοπού</b> <a class="fs-4" href="#"> Δείτε εδώ</a></p>
                <br><br>
                <p class="fs-4"><b class="fs-2 num-left">4.</b> Online υπολογισμός δώρου Χριστουγέννων με αναστολή σύμβασης εργασίας <a class="fs-4" href="#"> Δείτε εδώ</a></p>
                <br><br>
                <p class="fs-4"><b class="fs-2 num-left">5.</b> Ποια επιδόματα δικαιούμαι αν κάνω αναστολή εργασίας <a class="fs-4" href="#"> Δείτε εδώ</a></p>
            </div>
        </div>
        
        <!-- Second Half -->
        
        <div class="col-md-6  p-0 bg-lcyan h-md-100">
            <div class="text-black h-100 p-5 text-center justify-content-center">
                <ul id="nav" class="nav msize">
                    <!--li class="touch-only"><a href="#nav">Close Subs</a></li-->
                    <li><button class="first" style="padding-right: 36px !important;">Επιλογές Εργαζομένων</button>
                      <ul id="open" class="next">
                        <li><a class="centerized fs-3" href="#" style="pointer-events: none; background-color: white !important;">Δήλωση για...</a>
                          <!-- <ul>
                            <li><a href="#">Δημόσιοι Υπάλληλοι</a></li>
                            <li><a href="#">Ιδιωτικοί Υπάλληλοι</a></li>
                            <li><a href="#">Ελεύθεροι Επαγγελματίες</a></li>
                          </ul> -->
                        </li>
                        <li><a class="fs-3" href="#">Αναστολή σύμβασης εργασίας</a></li>
                        <li><a class="fs-3" href="#">Αίτηση άδειας ειδικού σκοπού</a></li>
                        <li><a class="fs-3" href="#">Εμφάνιση επιδομάτων και δώρων</a></li>
                        <li><a class="fs-3" href="#">Εμφάνιση αρχείου εργασιακής κατάστασης</a></li>
                        <li><a class="fs-3" href="#">Απαλλαγή ασφαλιστικών εισφορών</a></li>
                      </ul>
                  </ul>    
            </div>
        </div>      
    </div>
    <br>
    <div class="centerize">
        <a class="btn btn-outline-light scroll-link fs-3" href="#one">Νέα - Ανακοινώσεις για εργοδότες <i class="fas fa-arrow-down"></i></a>
    </div>    
</section>

<section id="one">
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators">

            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>

        </ol>

        <div class="carousel-inner">
            <!-- data-bs-interval, that's for time per slide --> 
            <div class="carousel-item active carh"> 
                <div class="overlay-image" style="background-image:url(../imgs/ergani-covid19w.jpg);"></div>
                <div class="container">
                    <h1>Δηλώσεις αναστολών συμβάσεων εργασίας των εργαζομένων για το 2021.</h1>
                    <p><b>ΕΡΓΑΝΗ: Από 19 έως 31 Ιανουαρίου οι δηλώσεις αναστολών συμβάσεων εργασίας των εργαζομένων για τον Ιανουάριο του 2021 </b></p>
                    <a href="https://www.taxheaven.gr/news/52474/erganh-apo-19-ews-31-ianoyarioy-oi-dhlwseis-anastolwn-symbasewn-ergasias-twn-ergazomenwn-gia-ton-ianoyario-toy-2021" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">
                     Δείτε Περισσότερα
                    </a>
                </div>
            </div>
            <div class="carousel-item carh">
                <div class="overlay-image" style="background-image:url(../imgs/menoume-asfaleis.jpg);"></div>
                <div class="container">
                    <h1>Εργαζόμενοι και Covid-19.</h1>
                    <p><b>Οσα χρειάζεται να ξέρουν οι εργαζόμενοι για τον COVID-19.</b></p>
                    <a href="https://covid19.gov.gr/category/oikonomia-ergasia/ergazomenoi/" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">
                        Δείτε Περισσότερα
                    </a>
                </div>
            </div>
            <div class="carousel-item carh">
                <div class="overlay-image" style="background-image:url(../imgs/emvolio.jpg);"></div>
                <div class="container">
                    <h1>Εμβολιασμός ιδιώτων γιατρών και οδοντιάτρων.</h1>
                    <p><b>Πότε θα εμβολιαστούν οι ιδιώτες γιατροί και οδοντίατροι.</b></p>
                    <a href="https://www.healthreport.gr/koronoios-emvolio-pote-tha-emvoliastoyn-oi-idiotes-giatroi-kai-odontiatroi/" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">
                        Δείτε Περισσότερα
                    </a>
                </div>
            </div>

        </div>

        <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
            <span class="sr-only">Previous</span>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>

        <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
            <span class="sr-only">Previous</span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</section>

<script>
    window.scrollTo(0,110)
</script>