<link rel="stylesheet" href="../styling/breadcrumb.css">
<link rel="stylesheet" href="../styling/employeeCOVID.css">
<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

<!-- Breadcrumb -->
<nav class="navbar navbar-light bg-light path"> 
    <div class="container-fluid">
        <span class="navbar-text">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../routes/index.php">Αρχική Σελίδα</a></li>
                    <li class="breadcrumb-item"><a href="../routes/covprev.php">COVID-19: Κατευθυντήριες Οδηγίες: Εργαζόμενος</a></li>
                    <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav>
        </span>
    </div>
</nav>

<!--First Section-->
<section id="one">
    <div class="container-fluid" style="text-align: center; background: #084C61;">
        <img src="../imgs/Καραντίνα_14ημερων.jpg">
        <div style="text-align: center;">
            <a class="btn btn-dark scroll-link fs-2" href="#two"><b>Κατατοπιστικό Γράφημα με ιατρικές οδηγίες για εργαζομένους <i class="fas fa-arrow-down"></i></b></a>
        </div>
    </div>
    <img src="../imgs/ΙΑΤΡΙΚΕΣ_ΟΔΗΓΙΕΣ.jpg">
</section>

<!--Second section-->
<section id="two">
    <div class="container-fluid" style="text-align: center; background: #084C61;">
        <a class="btn btn-dark scroll-link fs-2" href="#one"><b>Ιατρικές Οδηγίες για την Πρόληψη της Διασποράς του Ιού <i class="fas fa-arrow-up"></i></b></a>    
    </div>
    <div class="parent fluid">
        <img src="../imgs/ΙΑΤΡΙΚΕΣ_ΟΔΗΓΙΕΣ_flowchart.jpg">
    </div>
</section>



<script>
    window.scrollTo(0,320)
</script>