<link rel="stylesheet" href="../styling/breadcrumb.css">
<link rel="stylesheet" href="../styling/employerCOVID.css">
<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

<!-- Breadcrumb -->
<nav class="navbar navbar-light bg-light path"> 
    <div class="container-fluid">
        <span class="navbar-text">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../routes/index.php">Αρχική Σελίδα</a></li>
                    <li class="breadcrumb-item"><a href="../routes/covprev.php">COVID-19: Κατευθυντήριες Οδηγίες: Εργοδότης</a></li>
                    <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
            </nav>
        </span>
    </div>
</nav>

<!--First Section-->
<section id="one">
    <div class="container-fluid" style="text-align: center; background: #084C61;">
        <img src="../imgs/Καραντίνα_14ημερων.jpg">
    </div>
    <div class="container-fluid" style="background-color: white; color: black;">
        <br>
        <h1 class="fs-1" style="text-align: center;">Οι επιχειρήσεις/ΚΑΔ όπου ισχύει υποχρεωτικά η χρήση μάσκας</h1>
        <br>
        <p class="fs-3" >
            <b class="fs-2" style="float: left;">1.</b> Σε εμπορικές επιχειρήσεις, επιχειρήσεις παροχής υπηρεσιών, χώρους γραφείων (δημοσίων υπηρεσιών ή ιδιωτικών επιχειρήσεων) και άλλους χώρους συνάθροισης κοινού επιβάλλεται η υποχρέωση χρήσης μη ιατρικής μάσκας στο πλαίσιο των έκτακτων μέτρων αντιμετώπισης του κινδύνου διασποράς του κορωνοϊού Cοvid-19:
        </p>
        <p class="fs-3">
            <b class="fs-2" style="float: left;">2.</b> Στην περίπτωση εργαζομένων που δεν τηρούν τους κανόνες της παρ. 1, επιβάλλεται στην επιχείρηση για κάθε παράβαση, διοικητικό πρόστιμο εκατόν πενήντα (150) ευρώ.
        </p>
        <p class="fs-3">
            <b class="fs-2" style="float: left;">3.</b> Στα φυσικά πρόσωπα (καταναλωτές, κοινό/πελάτες) που δεν τηρούν τους κανόνες της παρ. 1 επιβάλλεται για κάθε παράβαση, με αιτιολογημένη πράξη της αρμόδιας αρχής, διοικητικό πρόστιμο εκατόν πενήντα (150) ευρώ.
        </p>
        <p class="fs-3">
            <b class="fs-2" style="float: left;">4.</b> Οι ειδικότεροι κανόνες που προβλέπονται ως προς την υποχρέωση χρήσης μάσκας στην υπ’ αρ. Δ1α/ ΓΠ.οικ.47421/25.7.2020 κοινή απόφαση των Υπουργών Οικονομικών, Ανάπτυξης και Επενδύσεων, Προστασίας του Πολίτη, Παιδείας και Θρησκευμάτων, Εργασίας και Κοινωνικών Υποθέσεων, Υγείας, Πολιτισμού και Αθλητισμού, Εσωτερικών, Υποδομών και Μεταφορών και
            Ναυτιλίας και Νησιωτικής Πολιτικής «Κανόνες τήρησης αποστάσεων σε ιδιωτικές επιχειρήσεις, δημόσιες υπηρεσίες και άλλους χώρους συνάθροισης κοινού στο σύνολο της Επικράτειας, προς περιορισμό της διασποράς του κορωνοϊού COVID-19» (Β’ 3099) δεν θίγονται από την εφαρμογή της παρούσας.
        </p>
        <p class="fs-3">
            <b class="fs-2" style="float: left;">5.</b>Ως προς τις αρμόδιες αρχές ελέγχου και επιβολής κυρώσεων, τις διαδικασίες ελέγχου και την πιστοποίηση των παραβάσεων, την επιβολή, βεβαίωση και είσπραξη προστίμων, καθώς και την αρμόδια αρχή για την ενημέρωση του κοινού εφαρμόζονται τα άρθρα 23 έως και 26 και 28 της υπ’ αρ. Δ1α/ΓΠ.οικ.47421/25.7.2020 κοινής υπουργικής απόφασης.
        </p>
    </div>
            
</section>

<script>
    window.scrollTo(0,320)
</script>