<!-- Main's page content -->

<link rel="stylesheet" href="../styling/slideshow.css">
<link rel="stylesheet" href="../styling/maincontainer.css">



<div class="content">

    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators">

            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>

        </ol>

        <div class="carousel-inner">
            <!-- data-bs-interval, that's for time per slide --> 
            <div class="carousel-item active"> 
                <div class="overlay-image" style="background-image:url(../imgs/mitsotakis-vroutsis.jpg);"></div>
                <div class="container">
                    <h1>Νέα μέτρα για τους εργαζόμενους.</h1>
                    <p><b>Έρχονται αλλάγες σε εργασιακά-ασφαλιστικά, μεγάλες εξελίξεις στο νέο νομοσχέδιο.Οι δύο επόμενες μεγάλες «μεταρρυθμίσεις» που προανήγγειλε ο πρωθυπουργός Κυριάκος Μητσοτάκης απο το βήμα της ΔΕΘ αφορούν στα εργασιακά και το ασφαλιστικό, που θα ανοίξουν το αμέσως επόμενο διάστημα και μέσα στο 2020.</b></p>
                    <a href="https://www.newsbeast.gr/politiki/arthro/6623169/erchontai-allages-se-ergasiaka-asfalistiko-ti-eipe-o-k-mitsotakis-gia-8oro-kai-syntaxeis" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">
                        Δείτε Περισσότερα
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay-image" style="background-image:url(../imgs/dwro.jpg);"></div>
                <div class="container">
                    <h1>Δώρο Χριστουγέννων 2020.</h1>
                    <p><b>Δημοσιεύθηκε στο ΦΕΚ Β’ 5515/16-12-2020 η απόφαση για το δώρο Χριστουγέννων 2020. Στην απόφαση καθορίζονται οι υπόχρεοι για την καταβολή του δώρου Χριστουγέννων, η διαδικασία καταβολής στους εργαζόμενους της αναλογίας του δώρου Χριστουγέννων από το κράτος και ο τρόπος κάλυψης των ασφαλιστικών εισφορών.</b></p>
                    <a href="https://www.ergasiaka-gr.net/2020/12/doro-xristougennon-2020-pote-kai-pos-h-apofasi/" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">
                        Δείτε Περισσότερα
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="overlay-image" style="background-image:url(../imgs/adeia.jpg);"></div>
                <div class="container">
                    <h1>Άδεια ειδικού σκοπού.</h1>
                    <p><b>Υπό προϋποθέσεις άδεια ειδικού σκοπού, ημέρες ετήσιας άδειας της τρέχουσας χρονιάς ή εξ αποστάσεως εργασίας είναι οι επιλογές που έχουν οι γονείς καθώς από αύριο σταματάει η τηλεκπαίδευση και αυστηροποιείται η χορήγηση της άδειας ειδικού σκοπού.</b></p>
                    <a href="https://www.dikaiologitika.gr/eidhseis/ergasiaka/325066/adeia-eidikoy-skopoy-pos-boroyn-na-tin-lavoun-oi-ergazomenoi-apo-ayrio" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">
                        Δείτε Περισσότερα
                    </a>
                </div>
            </div>

        </div>

        <a href="#myCarousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
            <span class="sr-only">Previous</span>
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>

        <a href="#myCarousel" class="carousel-control-next" role="button" data-bs-slide="next">
            <span class="sr-only">Previous</span>
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>

    </div>

    <!-- Container -->

    <div class="container-sm" id="maincon">
   
        <!-- Cards -->

        <div class="container-sm shadow rounded" id="cards">
            
            <div id="titlecard">
                <b><h3>Νέα - Ανακοινώσεις</h3></b>
            </div>
            <div class="row row-cols-1 row-cols-md-2 g-4">

                <div class="col">
                    <div class="card border-dark">
                        <div class="card-header"><i class="far fa-clock"></i>  07:35, 24 Δεκεμβρίου 2020 </div>
                        <img src="https://cdn.sofokleousin.gr/sites/default/files/styles/node_full/public/2019-04/epidoma.jpg?itok=zO_iSo8i" class="card-img-top" alt="..." width="100%" height="350px">
                        <div class="card-body">
                            <h5 class="card-title"><u><a href="https://www.sofokleousin.gr/pote-katavallontai-ta-epidomata-dekemvriou" target="_blank" rel="noopener noreferrer" class="stretched-link">Πότε καταβάλλονται τα επιδόματα του Δεκεμβρίου.</a></u></h5>
                            <p class="card-text">Tην εργάσιμη μέρα του μηνός, ήτοι την Πέμπτη 31 Δεκεμβρίου θα γίνει η καταβολή των επιδομάτων του ΟΠΕΚΑ στους δικαιούχους.</p>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card border-dark">
                        <div class="card-header"><i class="far fa-clock"></i>  09:22, 25 Δεκεμβρίου 2020</div>
                        <img src="https://www.tanea.gr/wp-content/uploads/2020/12/pfizer-biontech-embolio-1024x640-1-768x480.jpg" class="card-img-top" alt="..." width="100%" height="350px">
                        <div class="card-body">
                            <h5 class="card-title"><u> <a href="https://www.newmoney.gr/roh/palmos-oikonomias/epixeiriseis/koronoios-tha-gini-ipochreotikos-o-emvoliasmos-ton-ergazomenon/" target="_blank" rel="noopener noreferrer" class="stretched-link">Εγκρίθηκε το νέο εμβόλιο για τον Κορωνοϊο.</a></u></h5>
                            <p class="card-text">Το εμβόλιο απ'την Pfizer εγκρίθηκε απ'την Ευρωπαϊκή Ένωση. Οι εργαζόμενοι θα είναι υποχρεομένοι να εμβολιαστούν.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Services -->
        <div class="container-sm shadow rounded-pill ser" id="service">
            <div class="lezanta"><b>Υπηρεσίες:</b></div>
            <div class="row row-cols-1 row-cols-lg-4 g-2 g-lg-3">
                <div class="col ser">
                    <button type="button" class="p-3 border shadow border-dark rounded-pill btn btn-lg btn-outline-primary"><div class="ser2" ><b>Εργαζόμενοι</b></div></button>
                </div>
                <div class="col ser">
                    <button type="button" class="p-3 border shadow border-dark rounded-pill btn btn-lg btn-outline-primary"><div class="ser2"><b>Εργοδότες</b></div></button>
                </div>
                <div class="col ser">
                    <button type="button" class="p-3 border shadow border-dark rounded-pill btn btn-lg btn-outline-primary"><div class="ser2"><b>Συνταξιούχοι</b></div></button>
                </div>
                <div class="col ser">
                    <button type="button" class="p-3 border shadow border-dark rounded-pill btn btn-lg btn-outline-primary"><div class="ser2"><b>Άνεργοι</b></div></button>
                </div>
            </div>
        </div>

        <!-- Contact -->

        <div class="container-sm shadow rounded-pill ser" id="service">
            <div class="lezanta"><b>Άμεση Επικοινωνία:</b></div>
            <div class="row row-cols-1 row-cols-lg-3 g-2 g-lg-3">
                <div class="col ser">
                    <a class="p-3 border shadow border-dark rounded-pill btn btn-lg   btn-outline-primary" href="../routes/appointment.php" role="button"><div class="con1"> <b>  Κλείστε <br>Ραντεβού</b></div></a>

                    <!-- <button type="button" class="p-3 border shadow border-dark rounded-pill btn btn-lg   btn-outline-primary"> <div class="con1"> <b>  Κλείστε <br>Ραντεβού</b></div></button> -->
                </div>
                <div class="col ser">


                    <a class="p-3 border shadow border-dark rounded-pill btn btn-lg  btn-outline-primary" href="https://www.ypakp.gr/texts/editor_uploads/files/e-mail_armodiothtes_site.pdf" role="button"><div class="con"><b> Ηλεκτρονική Φόρμα Επικοινωνίας</b></div></a>
                    <!-- <button type="button" class="p-3 border shadow border-dark rounded-pill btn btn-lg  btn-outline-primary"><div class="con"><b> Ηλεκτρονική Φόρμα Επικοινωνίας</b></div></button> -->

                </div>
                <div class="col ser">

                    <a class="p-3 border shadow border-dark rounded-pill btn btn-lg btn-outline-primary" href="https://www.ypakp.gr/texts/editor_uploads/files/THLEFONIKOS_KATALOGOS_YPEKYP.pdf" role="button"><div class="con"><b> Τηλέφωνα Επικοινωνίας</b></div></a>
                    <!-- <button type="button" class="p-3 border shadow border-dark rounded-pill btn btn-lg btn-outline-primary"><div class="con"><b> Τηλέφωνα Επικοινωνίας</b></div></button> -->

                </div>
            </div>
        </div>

        <!-- Useful Links -->

        <div class="container-sm" id="links">
            <div class="lezanta" id="linklez"><b>Χρήσιμοι Σύνδεσμοι</b></div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                <a href="https://eservices.yeka.gr">
                    <div class="card">
                        <img src="https://eservices.yeka.gr/(S(ti4pb2esqlmynzmzgq15yliz))/Images/logoolo.gif" class="card-img-top-2" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><u>Εργάνη</u></h5>
                        <p class="card-text">ΠΛΗΡΟΦΟΡΙΑΚΟ ΣΥΣΤΗΜΑ ΕΞΥΠΗΡΕΤΗΣΗΣ ΕΠΙΧΕΙΡΗΣΕΩΝ
                            ΥΠΟΥΡΓΕΙΟ ΕΡΓΑΣΙΑΣ ΚΑΙ ΚΟΙΝΩΝΙΚΩΝ ΥΠΟΘΕΣΕΩΝ.</p>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a href="https://www.gsis.gr/">
                    <div class="card">
                        <img src="https://www.gsis.gr/system/files/inline-images/%CE%93%CE%93%CE%A0%CE%A3_logo_2020_website-Text-only.png" class="card-img-top-2" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><u>Γ.Γ.Π.Σ.Δ</u></h5>
                        <p class="card-text">ΓΕΝΙΚΗ ΓΡΑΜΜΑΤΕΙΑ ΠΛΗΡΟΦΟΡΙΑΚΩΝ ΣΥΣΤΗΜΑΤΩΝ ΔΗΜΟΣΙΑΣ <br> ΔΙΟΙΚΗΣΗΣ.  </p>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a href="https://www.kepea.gr/">
                    <div class="card">
                        <img src="https://www.kepea.gr/assets/images/logo.png" class="card-img-top-2" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><u>ΚΕ.Π.Ε.Α / Γ.Σ.Ε.Ε.</u></h5>
                            <p class="card-text">ΚΕΝΤΡΟ ΠΛΗΡΟΦΟΡΗΣΗΣ ΕΡΓΑΖΟΜΕΝΩΝ & ΑΝΕΡΓΩΝ, ΓΕΝΙΚΗ ΣΥΝΟΜΟΣΠΟΝΔΙΑ ΕΡΓΑΤΩΝ ΕΛΛΑΔΟΣ.</p>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col">
                <a href="http://www.aade.gr/">
                    <div class="card">
                        <img src="http://www.aade.gr/themes/clean/images/logo.svg" class="card-img-top-2" alt="...">
                        <div class="card-body">
                        <h5 class="card-title"><u>ΑΑΔΕ</u></h5>
                        <p class="card-text">ΑΝΞΑΡΤΗΤΗ ΑΡΧΗ <br> ΔΗΜΟΣΙΩΝ <br> ΕΣΟΔΩΝ.</p>
                        </div>
                    </div>
                </a>
                </div>
                <div class="col">
                    <a href="https://opeka.gr/">
                        <div class="card">
                            <img src="https://opeka.gr/wp-content/uploads/2018/02/opeka-logo.png" class="card-img-top-2" alt="...">
                            <div class="card-body">
                            <h5 class="card-title"><u>ΟΠΕΚΑ</u></h5>
                            <p class="card-text">ΟΡΓΑΝΙΣΜΟΣ ΠΡΟΝΟΙΑΚΩΝ <br> ΕΠΙΔΟΜΑΤΩΝ & <br> ΚΟΙΝΩΝΙΚΗΣ ΑΛΛΗΛΕΓΓΥΗΣ.</p>
                        </div>
                    </a>
                </div>
                </div>
                    <div class="col">
                        <a href="http://www.oaed.gr/">
                            <div class="card">
                                <img src="http://www.oaed.gr/image/layout_set_logo?img_id=15141&t=1608887534932" class="card-img-top-2" alt="...">
                                <div class="card-body">
                                <h5 class="card-title"><u>ΟΑΕΔ</u></h5>
                                <p class="card-text">ΟΡΓΑΝΙΣΜΟΣ ΑΠΑΣΧΟΛΗΣΗΣ <br> ΕΡΓΑΤΙΚΟΥ <br> ΔΥΝΑΜΙΚΟΥ.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


</div>