<link rel="stylesheet" href="../styling/breadcrumb.css">
<link rel="stylesheet" href="../styling/specialperm.css">

<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

<!-- Breadcrumb -->
<nav class="navbar navbar-light bg-light path"> 
    <div class="container-fluid">
        <span class="navbar-text">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../routes/index.php">Αρχική Σελίδα</a></li>
                    <li class="breadcrumb-item"><a href="../routes/working.php">Εργασιακά</a></li>
                    <li class="breadcrumb-item"><a href="../routes/employee.php">Είμαι Εργαζόμενος</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Αίτηση Άδειας Ειδικού Σκοπού</li>
                </ol>
            </nav>
        </span>
    </div>
</nav>

<div class="main white">
    <br><br>
    <div class="container-fluid" style="height: 1400px;">
        <div class="signup-content">
            <div class="signup-img">
                <img src="../imgs/family.jpeg" style="width: 1200px !important; height: 1400px !important;" alt="">
            </div>
            <div class="signup-form">
                <form method="POST" class="register-form" id="register-form">
                    <h2><u>Αίτηση Άδειας Ειδικού Σκοπού</u></h2>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="name">Όνομα :</label>
                            <input type="text" name="name" id="name" required/>
                        </div>
                        <div class="form-group">
                            <label for="father_name">Επώνυμο :</label>
                            <input type="text" name="father_name" id="father_name" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">Διεύθυνση :</label>
                        <input type="text" name="address" id="address" required/>
                    </div>
                    <div class="form-group">
                        <label for="sector">Τομέας Απασχόλησης :</label>
                        <input type="text" name="sector" id="sector" required/>
                    </div>
                    <div class="form-radio">
                        <label for="gender" class="radio-label">Γένος :</label>
                        <div class="form-radio-item">
                            <input type="radio" name="gender" id="male" checked>
                            <label for="male">Αρσενικό</label>
                            <span class="check"></span>
                        </div>
                        <div class="form-radio-item">
                            <input type="radio" name="gender" id="female">
                            <label for="female">Θηλυκό</label>
                            <span class="check"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="course">Οικογενειακή Κατάσταση :</label>
                        <div class="form-select">
                            <select name="course" id="course">
                                <option value=""></option>
                                <option value="married">Παντρεμένος/νη</option>
                                <option value="divorced">Διαζευγμένος/νη</option>
                                <option value="distance">Σε διάσταση</option>
                                <option value="not_married">Άγαμος/μη</option>
                            </select>
                            <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="children">Αριθμός Παιδιών :</label>
                            <div class="form-select">
                                <select name="state" id="state">
                                    <option value=""></option>
                                    <option value="1ch">Ένα</option>
                                    <option value="2ch">Δύο</option>
                                    <option value="morech">Τρία ή περισσότερα</option>
                                </select>
                                <span class="select-icon"><i class="zmdi zmdi-chevron-down"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="form-label">Περιγραφή Αίτησης Άδειας</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="exampleFormControlTextarea1" rows="3" placeholder="Σχόλια" style="padding-bottom:3em;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="phone">Τηλέφωνο :</label>
                        <input type="number" name="phone" id="phone" pattern="[0-9]{10}" />
                    </div>
                    <div class="form-group">
                        <label for="tk">Ταχυδρομικός Κώδικας :</label>
                        <input type="tk" name="tk" id="tk" />
                    </div>
                    <div class="form-group">
                        <label for="mail">Ηλεκτρονική Διεύθυνση Αλληλογραφίας(email) :</label>
                        <input type="mail" name="mail" id="mail" />
                    </div>
                    <div class="form-submit">
                        <input type="submit" value="Επαναφορά" class="submit" name="reset" id="reset" />
                        <input type="submit" value="Υποβολή Δήλωσης" class="submit" name="submit" id="submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- JS -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/main.js"></script>



<script>
    window.scrollTo(0,200)
</script>