<link rel="stylesheet" href="../styling/breadcrumb.css">
<link rel="stylesheet" href="../styling/working.css">
<script type='text/javascript' src='//code.jquery.com/jquery-1.8.3.js'></script>

<!-- Breadcrumb -->
<nav class="navbar navbar-light bg-light path"> 
    <div class="container-fluid">
        <span class="navbar-text">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../routes/index.php">Αρχική Σελίδα</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Εργασιακά</li>
                </ol>
            </nav>
        </span>
    </div>
</nav>

<div class="container-fluid color">
    <br>
    <h1 class="hcenter"><u>Επιλέξτε την κατηγορία στην οποία ανήκετε:</u></h1>
    <br><br>
    <div class="row">
        <div class="card card_style">
            <a class="a_style" href="../routes/employee.php" type="button">
                <br>
                <h5 class="card-title fs-3">Είμαι Εργαζόμενος</h5>
                <br>
                <i class="fas fa-user card-img-top fas_img"></i>
                <br>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
        <div class="card card_style">
            <a class="a_style" href="../routes/employer.php" type="button">
                <br>
                <h5 class="card-title fs-3">Είμαι Εργοδότης</h5>
                <br>
                <i class="fas fa-user-tie card-img-top fas_img"></i>
                <br>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
        <div class="card card_style">
            <a class="a_style" href="../routes/retired.php" type="button">
                <br>
                <h5 class="card-title fs-3">Είμαι Συνταξιούχος</h5>
                <br>
                <i class="fas fa-blind card-img-top fas_img"></i>
                <br>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
        <div class="card card_style">
            <a class="a_style" href="#" type="button">
                <br>
                <h5 class="card-title fs-3">Είμαι Άνεργος</h5>
                <br>
                <i class="fas fa-search-dollar card-img-top fas_img"></i>
                <br>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>        
    </div>

</div>

<script>
    window.scrollTo(0,900)
</script>