<link rel="stylesheet" href="../styling/app_conf.css">
<link rel="stylesheet" href="../styling/breadcrumb.css">

<!-- Breadcrumb -->
<nav class="navbar navbar-light bg-light path"> 
    <div class="container-fluid">
        <span class="navbar-text">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../routes/index.php">Αρχική Σελίδα</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="../routes/appointment.php">Κλείστε Ραντεβού</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Επίσημη Δήλωση Ραντεβού</li>
                </ol>
            </nav>
        </span>
    </div>
</nav>


<div class="container confirm ">
    <div class="row ">
        <div class="col-12">
            <div class="card rounded-3">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">
                            <img src="../imgs/logo.png">
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-1">Επίσημη Βεβαίωση Ηλεκτρονικού Ραντεβού.</p>
                            <p class="mb-1 text-muted">Υπο την αιγίδα του Υπουργείου Εργασίας και της Ελληνικής Δημοκρατίας.</p>
                        </div>
                    </div>

                    <hr class="my-5">
                    <!-- <input type="hidden" name="type" value="<?= $var ?>" > -->

                    <div class="row pb-5 p-5">
                        <div class="col-md-6">
                            <p class="font-weight-bold mb-4 fs-4"> <u> Προσωπικά Στοιχεία </u></p>
                            <!-- <p class="mb-1">
                                <?php echo $firstname. " " . $lastname;?>
                            </p> -->
                            <!-- <p class="mb-1"><span class="text-muted">Ονοματεπώνυμο: </span> <?php echo $lastname. " " . $firstname;?> </p> -->
                            <p class="mb-1"><span class="text-muted">Επώνυμο: </span>         
                                 <?php echo $lastname;?>
                            </p>

                            <p class="mb-1"><span class="text-muted">Όνομα: </span>         
                                <?php echo $firstname;?>
                            </p>

                            <p class="mb-1"><span class="text-muted">Αριθμός Αστυνομικής Ταυτότητας: </span>         
                                <?php echo $id;?>
                            </p>


                            <!-- <p>Acme Inc</p> -->

                            <!-- <p class="mb-1">Berlin, Germany</p>
                            <p class="mb-1">6781 45P</p> -->
                        </div>

                        <div class="col-md-6 text-right">
                            <p class="font-weight-bold mb-4 fs-4"> <u> Στοιχεία Επικοινωνίας </u> </p>
                            <p class="mb-1"><span class="text-muted">Διεύθυνση: </span> <?php echo $address;?> </p>
                            <p class="mb-1"><span class="text-muted">Ηλεκτρονική Διεύθυνση: </span> <?php echo $mail;?> </p>
                            <p class="mb-1"><span class="text-muted">Τηλέφωνο Επικοινωνίας: </span> <?php echo $phonecall;?> </p>
                            <!-- <p class="mb-1"><span class="text-muted">Name: </span> John Doe</p> -->
                        </div>
                    </div>

                    <div class="row p-5">
                        <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr2>
                                        <th class="border-0 text-uppercase small font-weight-bold">Ημερομηνία <span class="text-muted" > (Μήνας/Μέρα/Έτος)</span> </th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Ώρα συνάντησης</th>
                                        <th class="border-0 text-uppercase small font-weight-bold">Επιλεγμένο Τμήμα</th>
                                        <!-- <th class="border-0 text-uppercase small font-weight-bold">Quantity</th> -->
                                        <!-- <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th> -->
                                        <!-- <th class="border-0 text-uppercase small font-weight-bold">Total</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>  <?php echo $date ;?>  </td>
                                        <td> <?php echo $appt_time. " " . $timeflag ;?>  </td>
                                        <td> <?php echo $department ;?>  </td>
                                        <!-- <td>21</td> -->
                                        <!-- <td>$321</td> -->
                                        <!-- <td>$3452</td> -->
                                    </tr>
                                    <!-- <tr>
                                        <td>1</td>
                                        <td>Software</td>
                                        <td>Support</td>
                                        <td>234</td>
                                        <td>$6356</td>
                                        <td>$23423</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Software</td>
                                        <td>Sofware Collection</td>
                                        <td>4534</td>
                                        <td>$354</td>
                                        <td>$23434</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="d-grid gap-2 col-2 mx-auto" style="margin-top:5em;">
                        <img class="resizeconf" src="../imgs/stamp.png">
                        <!-- <a class="btn btn-lg btn-success rounded-3" aria-current="page" href="../routes/app_confirmed.php"  style="padding-top:20px; padding-bottom: 20px;">  <b><u>Επιβεβαίωση Δήλωσης Ραντεβού </u></b></a> -->
                    </div>

                    <div class="d-flex flex-row-reverse bg-dark text-white p-4 rounded-bottom">
                        <div class="py-3 px-5 text-right grey">
                            <!-- <div class="mb-2">Grand Total</div> -->
                            <!-- <div class="h2 font-weight-light">$234,234</div> -->
                        </div>

                        <div class="py-3 px-5 text-right grey">
                            <!-- <div class="mb-2">Discount</div> -->
                            <!-- <div class="h2 font-weight-light">10%</div> -->
                        </div>

                        <div class="py-3 px-5 text-right grey">
                            <!-- <div class="mb-2">Sub - Total amount</div> -->
                            <!-- <div class="h2 font-weight-light">$32,432</div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div class="text-light mt-5 mb-5 text-center small">by : <a class="text-light" target="_blank" href="http://totoprayogo.com">totoprayogo.com</a></div> -->

</div>
