.blue{
    background-color: #084C61; 
    height:800px;
}

.carh{
    height:700px !important;
}

.num-left{
    float: left;
}

.centerize{
    text-align: center !important;
}

@media (min-width: 768px) {
    .h-md-100 { height: 700px; }
}
.btn-round { border-radius: 30px; }
.bg-cyan { background: #7CB0CB; }
.bg-lcyan { background: #B6D3E2; }

.msize{
    font-size: 50px;
}

ul {
	margin:0;
	padding:0;
	list-style:none;
}
.nav {
	display:table;/*white-space fix*/
	width:100%;
	text-align:center;
	word-spacing:-9em;/*white-space fix*/
}
.nav li {
	position:relative;
	display:inline-block;
	z-index:99;
	text-align:left;
	word-spacing:normal;/*white-space fix*/
}
.nav li > a {
	text-align: center !important;
	position:relative !important;
	padding-left: 10px;
    /*padding-right: 60px;*/
    /*padding-left: 47px;*/
}
.nav li > button {
	text-align: center;
	position:relative;
}

.nav :centerized {
	/* position: relative !important; */
	text-align-last: center !important;
	/* padding-left: 120px !important; */
	/* padding-left: 80px !important; */
	/* margin-left: 100px; */
}

.nav li:hover,.nav > li > a:hover {z-index:105;}
.nav li li {
	display:block
}
.nav li:hover,.nav > li > button:hover {z-index:105;}
.nav li li {
	display:block
}

.nav a {
	display:block;
	padding:7px 10px;
	background:#C9C2A6;
	color:black;
	border:1px solid black;
	text-decoration:none;
	white-space:nowrap;
	position:relative;
}
.nav button {
	display:block;
	padding:7px 10px;
	background:#C9C2A6;
	color:black;
	border:1px solid black;
	text-decoration:none;
	white-space:nowrap;
    position:relative;
    
}

.nav li:hover > a, .nav a:hover {
	background:#00b3db;
}
.nav li:hover > button, .nav button:hover, .nav button:focus {
	background:#00b3db;
}

.nav ul {
	position: absolute;
	z-index:104;
	left:-999em;
	top:0;
	opacity:0;
	transition:opacity .5s, left 0s .5s, top .5s;
}
.nav li:hover > ul {
	left:0;
	top:100%;
	opacity: 1;
	transition:opacity .5s linear, top .5s;
}
.nav ul ul {
	transition:opacity .4s, left 0s .4s, margin 0s .4s;
	z-index:103;
}
.nav li li:hover ul {
	top:0;
	margin-left:100%;
	opacity: 1;
	transition:opacity .5s linear, margin .5s;
}

/* arrows */
.nav li a:first-child:not(:last-child) {
	padding-right:120px;/* make space for arrows*/
	text-align: center;
}
.nav li button:first-child:not(:last-child) {
	padding-right:20px;/* make space for arrows*/
}

.nav li a:first-child:not(:last-child):after {
	content:"";
	position:absolute;
	right:3px;
	top:50%;
	margin-top:-6px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid black;
}
.nav li button:first-child:not(:last-child):after {
	content:"";
	position:absolute;
	right:3px;
	top:50%;
	margin-top:-6px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid black;
}

.nav > li > a:first-child:not(:last-child):after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid black;
	border-bottom:none;
	margin-top:-3px;
}
.nav > li > button:first-child:not(:last-child):after {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid black;
	border-bottom:none;
	margin-top:-3px;
}

.nav li:hover a:first-child:not(:last-child):after {
	border-left-color:black
}
.nav li:hover button:first-child:not(:last-child):after {
	border-left-color:black
}

.nav > li:hover > a:first-child:not(:last-child):after {
	border-left-color:transparent;
	border-top-color:black
}
.nav > li:hover > button:first-child:not(:last-child):after {
	border-left-color:transparent;
	border-top-color:black
}