.btn-dark {

    margin-left: 7px;
    margin-right: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
    white-space: nowrap;
    
}

.btn-dark:hover {

    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}

.links{ 
    color: #fff; 
    background-color: #00b3db;
    border-color: #285e8e;
}

#darkchoice:hover {
    
    /* color:black; */
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}

.navbar-nav > .nav-item {

    margin-left: 30px;

}

.flags{
    width:50px;
    height:30px;
    z-index: initial;
}

.fa-user {
    padding-right:10px;
}

.fa-user-edit{
    padding-right:10px;
}

.fa-user-plus{
    padding-right:13px;
}


#navmain{
    min-height: 150px;
    /* overflow-inline: hidden; */
}

#searchbar{
    width: 17.7em;
}

#services{
    color: white;
    padding-right:20px;
    padding-left:20px;
}

.profile:hover{
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}

#services:hover {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}

#register{
    margin-right:10px;
    width:7.8em;
}

/* .threenavs{ */
    /* overflow: hidden; */
    /* position: fixed; */
    /* top:100; */
    /* width:100%; */
/* }  */

/* .content{ */
    /* padding-top:300px; */
/* } */


/* Footer */

#footer{
    overflow: hidden;
    width:100%;
    bottom: 0;
    /* margin-top: 10em; */
    height: 14em;
    background-color:#000000;
    /* background-color: blue; */

    /* Uncomment this line if you want to have a sticky navbar */
    /* position:fixed; */
}

ul {
    list-style-type: none;
}

#infobottom{
    
    margin-bottom:20px;
    padding-left: 55px;
    color: white;
    font-size: 28px;
}

#infobottom2{
    color:white;
    font-size:22px;
    margin-bottom: 10px;
}

#infobottom3{
    font-size:25px;
    margin-left:110px;
    margin-top:25px;
}

.resize {
    width: 425px;
    height: auto;
}

.resize2{
    width:200px;
    height:auto;
    margin-left: 2px;
}

.edit:hover{
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;   
}